<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="selectUserAgeById" resultType="java.lang.Integer">
        SELECT age
        FROM imooc_user
        WHERE id = #{id}
    </select>

    <select id="selectUserByAgeAndScore" parameterType="User"
            resultType="User">
        SELECT *
        FROM imooc_user
        WHERE age = #{age}
          AND score = #{score}
    </select>
</mapper>